/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

  
  /* Generic styles */
  html {
    scroll-behavior: smooth;
  }

body {
	color: black;
	font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 20px;
	text-align: center;
    line-height: 5;
    background: #f5f5f5;
}
  
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.1;
	color: inherit;
}

h1, .h1 {
	font-size: 45px;
}

h2, .h2 {
	font-size: 38px;
}

h3, .h3 {
	font-size: 30px;
}

h4, .h4 {
	font-size: 24px;
}

h5, .h5 {
	font-size: 22px;
}

h6, .h6 {
	font-size: 17px;
}

p {
    margin: 0 0 12px;
    line-height: normal;
}
  
  p, a {
    font-family: inherit;
  }

  
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase, .initialism {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.shell,
.shell-wide,
.shell-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.shell,
.shell-wide {
	min-width: 300px;
	max-width: 480px;
}

@media (min-width: 768px) {
	.shell,
	.shell-wide {
		max-width: 750px;
	}
}

@media (min-width: 992px) {
	.shell,
	.shell-wide {
		max-width: 970px;
	}
}

@media (min-width: 1200px) {
	.shell,
	.shell-wide {
		max-width: 1200px;
	}
}

@media (min-width: 1800px) {
	.shell-wide {
		max-width: 1800px;
	}
}

.section-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.section-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.section-34 {
	padding-top: 34px;
	padding-bottom: 34px;
}

.section-41 {
	padding-top: 41px;
	padding-bottom: 41px;
}

.section-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-66 {
	padding-top: 66px;
	padding-bottom: 66px;
}

.section-85 {
	padding-top: 85px;
	padding-bottom: 85px;
}

.section-98 {
	padding-top: 98px;
	padding-bottom: 98px;
}

.section-110 {
	padding-top: 110px;
	padding-bottom: 110px;
}

.section-124 {
	padding-top: 124px;
	padding-bottom: 124px;
}

.section-254 {
	padding-top: 254px;
	padding-bottom: 254px;
}

.section-350 {
	padding-top: 350px;
	padding-bottom: 350px;
}

.section-top-40 {
    padding-top: 40px;
}

.section-top-8 {
    padding-top: 8px;
}

.section-top-16 {
    padding-top: 16px;
}

.section-top-32 {
    padding-top: 32px;
}

.inset-left-0 {
	padding-left: 0;
}

.inset-left-10 {
	padding-left: 10px;
}

.inset-left-20 {
	padding-left: 20px;
}

.inset-left-30 {
	padding-left: 30px;
}

.inset-left-32 {
	padding-left: 32px;
}

.inset-left-50 {
	padding-left: 50px;
}

.inset-left-80 {
	padding-left: 80px;
}

.inset-left-93 {
	padding-left: 93px;
}

.inset-left-100 {
	padding-left: 100px;
}

.inset-left-115 {
	padding-left: 115px;
}

.justify-center {
    -webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
}

.justify-left {
    -webkit-justify-content: left;
		-ms-flex-pack: left;
		justify-content: left;
}

.justify-right {
    -webkit-justify-content: right;
		-ms-flex-pack: right;
		justify-content: right;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.desc {
    font-size: 18px;
    line-height: 24px;
    /* letter-spacing: 1px; */
    font-weight: 200;
    color: #383838;
    word-spacing: 1px;
}

.lh-32 {
    line-height: 32px;
}

.title {
    font-size: 21px;
    font-weight: 545;
    color: #333333;
}

.subtitle {
    font-size: 18px;
    font-weight: 345;
    color: #9a9a9a;
}
* {
    box-sizing: border-box;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .row::after {
    content: "";
    clear: both;
    display: flex !important;
  }
  @media (max-width: 480px) {
    .col-xs-1 {
		-webkit-flex-basis: 8.33333%;
		-ms-flex-preferred-size: 8.33333%;
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}
    .col-xs-2 {
		-webkit-flex-basis: 16.66%;
		-ms-flex-preferred-size: 16.66%;
		flex-basis: 16.66%;
		max-width: 16.66%;
	}
    .col-xs-3 {
		-webkit-flex-basis: 25%;
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}
    .col-xs-4 {
		-webkit-flex-basis: 33.33%;
		-ms-flex-preferred-size: 33.33%;
		flex-basis: 33.33%;
		max-width: 33.33%;
	}
    .col-xs-5 {
		-webkit-flex-basis: 41.66%;
		-ms-flex-preferred-size: 41.66%;
		flex-basis: 41.66%;
		max-width: 41.66%;
	}
    .col-xs-6 {
		-webkit-flex-basis: 50%;
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}
    .col-xs-7 {
		-webkit-flex-basis: 58.33%;
		-ms-flex-preferred-size: 58.33%;
		flex-basis: 58.33%;
		max-width: 58.33%;
	}
    .col-xs-8 {
		-webkit-flex-basis: 66.66%;
		-ms-flex-preferred-size: 66.66%;
		flex-basis: 66.66%;
		max-width: 66.66%;
	}
    .col-xs-9 {
		-webkit-flex-basis: 75%;
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}
    .col-xs-10 {
		-webkit-flex-basis: 83.33%;
		-ms-flex-preferred-size: 83.33%;
		flex-basis: 83.33%;
		max-width: 83.33%;
	}
    .col-xs-11 {
		-webkit-flex-basis: 91.66%;
		-ms-flex-preferred-size: 91.66%;
		flex-basis: 91.66%;
		max-width: 91.66%;
	}
    .col-xs-12 {
		-webkit-flex-basis: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}

   }
.no-pad-left {
    padding-left: unset !important;
}
.no-pad-top {
    padding-top: unset !important;
}
.no-pad-bottom {
    padding-bottom: unset !important;
}

#section-image {
    height:100px;
    background: url(../images/vila-karon.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .rating-stars {
      font-size: 19px;
      font-weight: 400;
    color: #F98D01;
  }
  .checked {
    color: #F98D01;
  }

  .rating-vote {
    font-size: 19px;
    font-weight: 400;
    color: #0D7FCC;
  }
/* MODAL */

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #333333; /* Black opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    
    width: 70%;
    border-radius: 7px;
  }


/* The Close Button */
.close {
    color: transparent;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: transparent;
    text-decoration: none;
    cursor: pointer;
  }

  .second-color {
      background: #F98D01 !important;
      box-shadow:  0 0 7px #F98D01;
      border-color: #F98D01 !important;
      font-size: 30px !important;
  }

  .price {
      color: #F98D01 ;
      font-size: 40px;
    font-weight: 500;
  }

  .lh-24 {
      line-height: 24px;
  }
  
  /* ACCORDIION */

  .accordion {
    border-bottom: 1px solid rgb(172, 172, 172) !important;
    font-weight: 500;
    font-size: 18px;
    color: #0D7FCC;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }
  
  
  .accordion:after {
    content: '\002B';
    color: #0D7FCC;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .button-default {
    padding: 20px 40px;
    font-size: 22px;
    background: #0D7FCC;
    border-radius: 7px;
    border-color: #0D7FCC;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
  }



